$color__background-body: #6D4989;
$color__background-posts: #F7F5F8;
$color__text-post-item: #FFF;
$color__post-title:#633818;
$color__pagination-page:#6D4989;
$color__pagination-page-active:#FFF;
$color__text-post-description: #633818;
$color__text-post-title: #633818;
$color__background-button: #E8D241;
$color__button-text: #FFF;
$color__background-post-content: #F7F5F8;
$color__background-post-comment: #FFF;
$color__border-post-comment: #633818;